@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-UltraLight.woff2") format("woff2");
	font-weight: 100;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-Light.woff2") format("woff2");
	font-weight: 200;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-Thin.woff2") format("woff2");
	font-weight: 300;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-Medium.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-Bold.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-Black.woff2") format("woff2");
	font-weight: 800;
}

@font-face {
	font-family: "GeistSans";
	src: url("../fonts/Geist-UltraBlack.woff2") format("woff2");
	font-weight: 900;
}

@layer base {
	html {
		font-family: "GeistSans", sans-serif;

		-webkit-font-smoothing: antialiased;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		scroll-behavior: smooth;
	}
}

.dm-orange {
	filter: invert(37%) sepia(46%) saturate(3592%) hue-rotate(2deg)
		brightness(98%) contrast(91%);
}
